body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    /*overflow-x: hidden;*/
  }
  /*-----coding for navigation bar starts--------*/  
  
  .topnav {
    position:fixed;
    background-color: #4a245e;
    width:100%;
    z-index: 1;  
  }
  
  .topnav #btnLogoutSmallScreen{
    visibility: hidden;
  }
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 16px 14px;
    text-decoration: none;
    font-size: 15px;
    letter-spacing: 0.5px; 
    transition: 0.3s;
  }
  
  .topnav .navbar-link:hover:not(.searchBox) {
    background-color: #d33d1f;
  }
  
  .topnav .icon {
    display: none;
  } 
  
  .topnav .topnav-right{
      float: right;
      background-color: #f26649;
  }
  
  @media screen and (max-width: 1040px) {
    .topnav .dropdownAccount{
      position: absolute;
      visibility: hidden;
      z-index:-1;
    }
    .topnav a:not(.searchBox) {
      display: none;
    }
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 1040px) {
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      transition: 2s;
      text-align: left;
    }
    .topnav #btnLogoutSmallScreen{
      visibility: visible;
    }
  }
  
  .dropdownAccount {
    float: left;
    overflow: hidden;
  }
  
  .dropdownAccount .dropbtnAccount {
    font-size: 16px;  
    width:140px;
    border: none;
    outline: none;
    color: white;
    padding: 16px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    text-align:center;
    cursor: pointer;
  }
  
  .dropbtnAccount:hover{
    background-color: #d33d1f;
  }
  
  .dropdown-content-Account {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdownAccount .dropdown-content-Account a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content-Account .account-option:hover {
    background-color: #ddd;
  }
  
  /*-----coding for navigation bar ends--------*/
  
  
  /*------------sidebar starts------------*/
  .sidebar {
    top:54px;
    margin: 0;
    padding: 0;
    width: 200px; 
    background-color: #f26649;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  .sidebar #userProfile{
    position: absolute;
    visibility: hidden;
    z-index:-1;
  }
  .sidebar a {
    font-size:17px;
    font-weight: bold;
    text-align: center;
    display: block;
    color: white;
    padding: 16px;
    text-decoration: none;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    background-color: #d33d1f;
    color: white;
  }
  
  .openbtn {
    visibility: hidden;
    position: fixed;
    top:50px;
    font-size: 15px;
    cursor: pointer;
    background-color: #4a245e;
    color: white;
    padding: 8px 10px;
    border: none;
  }
  .openbtn:hover{
      background:#f26649;
  }
  .closebtn{
      visibility: hidden;
  }
  
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }
  
  /*-----------making the sidebar responsive------------*/
  
  @media only screen and (max-width:1040px){
    .sidebar #userProfile{
      position: relative;
      visibility: visible;
      z-index:1;
    }
    .openbtn{
        visibility: visible;
        
    }
    .sidebar {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #f26649;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
      }
      
      .sidebar a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 17px;
        color: white;
        display: block;
        transition: 0.3s;
      }
      
      .sidebar a:hover {
        color:white;
  
      }
      
      .sidebar .closebtn {
        visibility: visible;
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 15px;
        margin-left: 50px;
      }
      .sidebar .closebtn:hover{
          color:white;
      }
      #main {
        transition: margin-left .5s;
        padding: 16px;
      }
  }
  @media screen and (min-width:1040px){
    .sidebar {
      margin: 0;
      padding: 0;
      width: 200px; 
      background-color: #f26649;
      position: fixed;
      height: 100%;
      overflow: auto;
    }
  }

  /*=============
      styling the main table..
  =============*/
  .center-box{
    position: absolute;
    top:65px;
    left:200px;
  }

  /*making the table responsive starts*/
  @media only screen and (max-width:1135px){
    .center-box .tab-content #tblAllRegistered{
      width:90%;
    }
  }

  @media only screen and (max-width:1055px){
    .center-box .tab-content #tblAllRegistered{
      width:88%;
    }
  }

  @media only screen and (max-width:1040px){
    .center-box{
      position: absolute;
      top:67px;
      left:0px;
    }
    .center-box .tab-content #tblAllRegistered{
      width:100%;
    }
  }

  /*making the table responsive ends*/