body{
    background-color: #e74c3c;
}

.message{
    position: absolute;
    top:25%;
    left:38%;
    color:white;
}
.message h2{
    font-weight: bold;
    padding-bottom: 10px;
}
.message h4{
    font-size: 16px;
    word-spacing: 4px;
    line-height: 9px;
}
.message .btn-here{
    padding-top: 25px;
    margin-left: 78px;
}
.message .btn{
    background-color: #15156f;
    color:white;
    border-radius: 17px;
    width:80px;
}
/*=================
        making the message section responsive starts ..
==================*/
@media only screen and (max-width:841px){
    .message{
        left:32%;
    }
}

@media only screen and (max-width:645px){
    .message{
        left:25%;
    }
}
@media only screen and (max-width:542px){
    .message{
        left:20%;
    }
    .message h2{
        font-size:25px;
        font-weight: bold;
        padding-bottom: 8px;
    }
    .message h4{
        font-size: 13px;
        word-spacing: 3px;
        line-height: 7px;
    }
    .message .btn-here{
        padding-top: 20px;
        margin-left: 70px;
    }
    .message .btn-here{
        padding-top: 20px;
        margin-left: 60px;
    }
}
@media only screen and (max-width:420px){
    .message{
        left:19%;
    }
    .message h2{
        font-size:22px;
        font-weight: bold;
        padding-bottom: 8px;
    }
    .message h4{
        font-size: 11px;
        word-spacing: 2px;
        line-height: 7px;
    }
    .message .btn-here{
        padding-top: 15px;
        margin-left: 50px;
    }
    .message .btn-here{
        padding-top: 20px;
        margin-left: 30px;
    }
}

/*=================
        making the message section responsive ends ..
==================*/

/*==================
        styling password change box starts..
================*/
.popup-box h2{
    display: inline;
    color:black;
}
.popup-box{
    display: none;
    position: fixed;
    top:25%;
    left:38%;
    background-color: #fdfdfd;
    padding: 29px;
    border-radius: 18px;
    border:2px solid #c1c1c1;
    z-index:3;
}
.popup-box input{
    margin-bottom: 10px;
    width:100%;
    border-radius: 17px;
}
.popup-box .btn-here{
    padding-top: 25px;
    margin-left: 40px;
}
.popup-box .btn{
    background-color: #15156f;
    color:white;
    border-radius: 17px;
    width:80px;
}

/*==================
        styling password change box endss..
================*/

/*-----------modal-------------*/
  body {font-family: Arial, Helvetica, sans-serif;}

.container a{
    cursor: pointer;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: absolute; /* Stay in place */
  z-index:2; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    color:black;
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 30%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/*====== new design =======*/
.modal-header{
    background-color: white;
    color:black;
    border:none;
    font-size:20px;
    padding:6px;
    border-radius: 7px;
}

.modal .modal-body h5{
    font-size: 17px;
    font-weight: bold;
}

.modal-header h3{
    font-size: 29px;
    text-decoration: underline;
    font-weight: bold;
    text-decoration-color: #e74c3c;
    margin-top: 10px;
}
.userEmail { position: relative; }
.userEmail input { text-indent: 30px;}
.userEmail .userIcon {
    position: absolute;
    top: 12px;
    left: 74px;
    font-size: 20px;
    color: #e74c3c;
}
.modal .modal-content .form-control{
    border-radius: 20px;
    width:70%;
    margin-left:60px;
    height:43px;
}
.modal .modal-content .row{
    padding-top: 8px;
    padding-bottom: 8px;
}
.modal .modal-content .row #btnLogin{
    width:70%;
    margin-left:60px;
    height:41px;
    border-radius: 20px;
    background-color: #E74C3C;
    color:white;
    font-weight: bold;
}
.modal .modal-body .forgorPass{
    margin-left:20px;
}
.modal .modal-content .login-with-other{
    margin:0;
    padding:0;
    padding-right:30px;
    text-align: right;
}
.modal .modal-content .login-with-other .help-text{
    display: inline;
    margin-right:100px;
    color:#828282;
}
.modal .modal-content .login-with-other .fa-facebook{
    background-color: #3e3ea5;
    font-size: 20px;
    padding: 12px 14px 6px 15px;
    border-radius: 20px;
    color:white;
    cursor: pointer;
}
.modal .modal-content .login-with-other .fa-google-plus{
    background-color: #dc1602;
    font-size: 20px;
    padding: 11px 7px 7px 7px;
    border-radius: 20px;
    color:white;
    cursor: pointer;
}
.modal .modal-content .new-signup{
    text-align:center;
}
hr{
    background-color: #c1c1c1 !important;
    color: #c1c1c1 !important;
    border: solid 0.5px #c1c1c1 !important;
    height: 1px !important;
}
/*=== new styles ends====*/

.alert{
    padding:0;
}
.login-form input{
    width:100%;
}
/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}
/* The Close Button */
.close {
    color: rgb(124, 124, 124);
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


.modal-body {padding: 2px 16px;}
#myModal .modal-body .alert{
    padding:5px;
}
.alert-dismissable .close, .alert-dismissible .close{
    top:0;
    right:0;
}

/*===============
    Making the modal responsive..
==================*/
@media only screen and (max-width:1200px){
    #myModal .modal-content{        /*---------making the modal responsive---------*/
        width:38%;
    }
} 
@media only screen and (max-width:996px){
    #myModal .modal-content{        /*---------making the modal responsive---------*/
        width:42%;
    }
}  
@media only screen and (max-width:770px){
      #myModal .modal-content{        /*---------making the modal responsive---------*/
        width:48%;
    }
}    
@media only screen and (max-width:737px){
      #myModal .modal-content{        /*---------making the modal responsive---------*/
        width:55%;
    }
} 
@media only screen and (max-width:714px){
      #myModal .modal-content{        /*---------making the modal responsive---------*/
        width:62%;
    }
} 
@media only screen and (max-width:648px){
      #myModal .modal-content{        /*---------making the modal responsive---------*/
        width:68%;
    }
}   
@media only screen and (max-width:618px){
      #myModal .modal-content{        /*---------making the modal responsive---------*/
        width:88%;
    }
}